<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="../static/css/dashboard.css" />
  </head>
  <body>
    <nav>
      <img src="../static/tabIcon.png" alt="OrbitOasis Logo" />
      <ul>
        <li class="active">
          <i class="fa-solid fa-gauge"></i
          ><span style="margin-left: 5px">Dashboard</span>
        </li>
        <li>
          <i class="fa-solid fa-user-doctor"></i
          ><span style="margin-left: 5px">Job Board</span>
        </li>
        <li>
          <i class="fa-solid fa-calendar-days"></i
          ><span style="margin-left: 5px">Agenda</span>
        </li>
      </ul>
    </nav>
    <main>
      <div class="top">
        <ul>
          <li><a href="">Account</a></li>
          <li><a href="">Log out</a></li>
        </ul>
      </div>
      <div class="bottom">
        <div id="map"></div>
      </div>
    </main>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
      var map = L.map("map").setView([51.505, -0.09], 13);

      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution:
          '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      }).addTo(map);

      // 获取用户位置
      function getLocation() {
        if ("geolocation" in navigator) {
          navigator.geolocation.getCurrentPosition(
            function (position) {
              var lat = position.coords.latitude;
              var lng = position.coords.longitude;
              map.setView([lat, lng], 13); // 更新地图中心点

              // 使用Nominatim API进行地理编码
              fetch(
                `https://nominatim.openstreetmap.org/reverse?format=json&lat=${lat}&lon=${lng}`
              )
                .then((response) => response.json())
                .then((data) => {
                  console.log(data); // 查看返回的数据
                  var addr = data.display_name; // 获取地址
                  L.marker([lat, lng])
                    .addTo(map)
                    .bindPopup(`Your Location: ${addr}`)
                    .openPopup();
                });
            },
            function () {
              alert("Unable to retrieve your location");
            }
          );
        } else {
          alert("Geolocation is not supported by your browser");
        }
      }

      getLocation();
    </script>
  </body>
</html>
